.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-box img {
  vertical-align: top;
  border: solid 1px #C00;
}

.seq-step-elm {
  list-style-type: none;
  display: block;
  background: #DDD;
  border: 1px solid #AAA;
  border-radius: 10%;
}
